*{
  margin:0;
  padding:0;
}

h1{
  text-align: center;
  padding: 20px;
  margin:20px auto;
}

/**
* Width/height of the element will be padding + border + width/height
*/

.box{
  width:100px;
  height:100px;
  padding: 20px;
  background-color: aqua;
  border: 2px solid black;
  margin: 20px;
  /* box-sizing: content-box; [Default Value]  */
}

/**
* Width/height of the element = width/height defined
*/
.box2{
  width:100px;
  height:100px;
  padding: 20px;
  margin:20px;
  background-color: red;
  border: 2px solid black;
  box-sizing: border-box;
}