*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  min-height: 200vh;
}

h1,
h2 {
  font-family: Lato;
  margin:40px;
  text-align: center;
}

.box{
  margin:20px auto;
  width:200px;
  height: 30px;
  border:1px solid black;
  text-align: center;
}

.elem-inline{
  background-color: lightblue;
}

.elem-inline-block{
  background-color: lightgreen;
  display: inline-block;
  width: 120px;
}