* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 200vh;
}

h1,
h2 {
  font-family: Lato;
  margin: 40px;
}

#idOne {
  color: red;
}

.test {
  color: blue;
}

/** Specificity Order 
  * id > class > type
  * Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity
*/

/* More specificity than id and class */
#idOne.test {
  color: aqua;
}

#outer {
  font-size: 1rem;
  height: 140px;
  width: 400px;
  margin: 0.75em;
  padding: 0.75em;
  border: 1px solid black;
}

/* Selector to select any dynamic id/class/type with a pattern */

#outer div[class*="parent-container"] h2 {
  font-size: 1.2rem;
  margin: 0.5em;
}

.error-message {
  color: blueviolet;
}

.error-message {
  color: chartreuse;
}
